@font-face {
  font-family: "Cutive Mono";
  src: url("./static/fonts/CutiveMono-Regular.woff"),
    url("./static/fonts/CutiveMono-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src: url("./static/fonts/Pretendard-Regular.woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-display: swap;
  src: url("./static/fonts/Pretendard-Light.woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src: url("./static/fonts/Pretendard-Bold.woff");
}

:root {
  /* Color */
  --color-lavender: #9794f9;
  --color-white: rgb(255, 255, 255);
  --color-black: rgb(0, 0, 0);
  --color-lavender-very-light: rgb(219, 219, 234);
  --color-lavender-light: rgb(186, 186, 233);
  --color-lavender: rgb(144, 144, 228);
  --color-lavender-dark: rgb(94, 94, 150);
  --color-lavender-very-dark: rgb(69, 69, 111);
  --color-gray-light: rgb(183, 181, 190);
  --color-gray: rgb(126, 125, 130);
  --color-gray-dark: rgb(75, 74, 77);

  /* Font */
  --font-pretendard: "Pretendard";
  --font-cutive: "Cutive Mono";

  /* Font Size */
  --font-micro: 0.5rem;
  --font-small: 0.8rem;
  --font-base: 1rem;
  --font-large: 1.25rem;
  --font-x-large: 1.563rem;
  --font-2x-large: 1.953rem;
  --font-3x-large: 2.441rem;
  --font-4x-large: 3.052rem;
}
*,
*::before,
*::after {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
  font-family: "Pretendard";
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
}
::-webkit-scrollbar {
  display: none;
}
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}
a:active,
a:hover {
  outline: 0;
  background-color: transparent;
  text-decoration: none;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button,
input,
button:focus,
input:focus {
  border: none;
  cursor: pointer;
  outline: none;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="file"] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}
ul {
  list-style: none;
  padding-left: 0px;
}
li {
  list-style: none;
}
