*,
*::before,
*::after {
  font-family: "Spoqa Han Sans", "sans-serif";
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  /* Color */
  --white-color: #fff;
  --black-color: #140a00;
  --lavender-very-light-color: #ebe7ff;
  --lavender-light-color: #e9cbff;
  --lavender-color: #bdb0ee;
  --lavender-dark-color: #5d5477;
  --lavender-very-dark-color: #3e3b49;
  --grey-dark-color: #909090;
  --grey-light-color: #e0e0e0;
  --logo-color: #9794f9;

  /* Font Size */
  --font-micro: 0.5rem;
  --font-small: 0.8rem;
  --font-base: 1rem;
  --font-large: 1.25rem;
  --font-x-large: 1.563rem;
  --font-2x-large: 1.953rem;
  --font-3x-large: 2.441rem;
  --font-4x-large: 3.052rem;
}
html {
  background-color: var(--white-color);
  width: 100vw;
  height: 100vh;
}
body {
  margin: 0;
  font-family: "Spoqa Han Sans", "sans-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::-webkit-scrollbar {
  display: none;
}

code {
  font-family: "Spoqa Han Sans", "sans-serif";
}
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}
a:active,
a:hover {
  outline: 0;
  background-color: transparent;
  text-decoration: none;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button,
input,
button:focus,
input:focus {
  border: none;
  cursor: pointer;
  outline: none;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="file"] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}
ul {
  list-style: none;
  padding-left: 0px;
}
li {
  list-style: none;
}
